body {
  background: #fafafa;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0px;
  color: #333;
}

[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  background-color: #009688;
}
